.App {
  text-align: center;
}

table {
  width: 30rem;
  border-collapse: collapse;
  border: 1px solid black;
  margin: auto;
}

td, th {
  padding: 3px;
  border: 1px solid black;
}

th {
  background: #b0e0e6;
}

li {
  display: inline;
  margin-right: 1rem;
}

button {
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 2px;
  padding: 2px 7px;
}
button.active {
  background-color: #b0e0e6;
}