.App {
  text-align: center;
}

table {
  width: 30rem;
  border-collapse: collapse;
  border: 1px solid black;
  margin: auto;
}

td, th {
  padding: 3px;
  border: 1px solid black;
}

th {
  background: #b0e0e6;
}

